__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
*.manifest
*.spec

# Installer
Output/
*.exe

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.sved
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Tests/Local logs/Scratch files
*.log
*.pdf
*.docx
*.xls
*.xlsx
*.txt
!requirements.txt
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
!assets/*.png
!assets/*.ico

# Audio and Video / Temporary Media (Generated outputs)
*.mp3
*.wav
*.mp4
*.mkv

# AI Models & Cache
*.onnx
*.pt
*.bin
*.tflite
*.h5

# Local config & databases
*.db
*.sqlite
*.sqlite3
